@media (max-width: 767px) {
	.fixed-top .navbar-brand {
		width: 75%;
	}

	.logo {
		width: 40%;
	}

	.home-section h1 {
		font-size: 38px;
	}

	.home-section h2 {
		font-size: 36px;
		margin: 0 0 10px;
	}

	.home-section .text {
		font-size: 16px;
	}

	.section {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.section-heading {
		margin-bottom: 35px;
	}

	.section-heading h2 {
		font-size: 35px;
	}

	.ex-box .ex-right h5 {
		font-size: 28px;
	}

	.contactus-section .contactus-title h5 {
		font-size: 32px;
	}

	.contactus-section .contact-info {
		padding: 20px 0 25px;
	}
}

@media (min-width:768px) and (max-width: 991px) {
	.fixed-top .navbar-nav  > li {
		padding: 8px 0;
	}

	.logo {
		width: 30%;
	}

	.home-section {
		padding-top: 130px;
	}

	.home-section {
		padding-bottom: 50px;
	}

}

@media (min-width: 992px) {
	.contactus-section .contact-banner {
		margin-top: -200px;
	}
}

@media (min-width:992px) and (max-width: 1200px) {
	.fixed-top.menu-open .navbar-nav  {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: start;
		align-items: flex-start;
	}

	.section {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.home-section h1 {
		font-size: 45px;
	}

	.home-section h2 {
		font-size: 45px;
		margin: 0 0 20px;
	}

	.home-section .text {
		font-size: 18px;
	}

}

@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: inherit;
	}
}


@media (min-width: 1400px) {
	.section {
		height: 100%;
	}
}